/*

0-600px:  phone
600-900px: tablet portrait
900-1200px: tablet landscape
1200-1800px: desktop (is where our normal styles apply)
1800px+ : big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: #bbb;
  font-weight: 400;
  line-height: 1.6;
}

*::-moz-selection {
  background-color: #f3bc47 !important;
  color: #fff;
}

*::selection {
  background-color: #f3bc47 !important;
  color: #fff;
}

.heading-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.heading-primary--main {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
}

.heading-primary--sub {
  font-size: 3.6rem;
  font-weight: 700;
}

.heading-primary--small {
  font-size: 3rem;
  font-weight: 400;
}

.heading-primary--smaller {
  font-size: 1.6rem;
}

.heading-secondary {
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #c6c6c6;
}

.u-margin-b {
  margin: 6rem;
}

.u-margin-m {
  margin: 4rem;
}

.u-margin-sm {
  margin: 2rem;
}

.u-margin-top {
  margin-top: 2rem;
}

.u-margin-bottom {
  margin-bottom: 2rem;
}

.u-margin-left {
  margin-left: 2rem;
}

.u-margin-right {
  margin-right: 2rem;
}

.btn-hollow {
  outline: none;
  border: 1px solid #f2f2f2;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  color: #f2f2f2;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-hollow:hover {
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
}

.btn-filled {
  background: #f3bc47;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  padding: 2rem 3rem;
}

.btn-filled:hover {
  background: #f0ab17;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.background {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f3bc47;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}

.background:hover .caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-size-square {
  height: 24rem;
}

.bg-size-rec {
  height: 24rem;
}

.bg-size-team {
  height: 28;
}

.card-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-img:hover {
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-size-square {
  height: 24rem;
  width: 24rem;
}

.img-size-rec {
  height: 24rem;
  width: 38rem;
}

.img-size-team {
  height: 28rem;
  width: 28rem;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0;
  color: #fff;
}

/*

.team-card {

}

.blog-card {

}

.gallery-card {
    
}

*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 80rem;
  background: white;
  color: #505050;
  font-family: "Montserrat", sans-serif;
  margin-top: 10rem;
}

.field_size {
  margin: 2rem;
  width: 50rem;
  height: 4rem;
  margin-bottom: 3rem;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: bold;
}

.submit_form {
  background: #f3bc47;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  padding: 2rem 3rem;
}

.submit_form:hover {
  background: #f0ab17;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.field_size {
  margin: 2rem;
  width: 50rem;
  height: 4rem;
  margin-bottom: 3rem;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: bold;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Fascinate", cursive;
  letter-spacing: 3px;
}

.navScrolled {
  background-color: white !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  padding: 2rem 6rem 0 6rem !important;
  -webkit-box-shadow: 0 1px 1px #f2f2f2;
          box-shadow: 0 1px 1px #f2f2f2;
}

.navScrolled .logo {
  color: #000;
}

.navScrolled .navigation__item:first-of-type a {
  color: #f3bc47;
}

.navScrolled .navigation__link {
  color: #717171;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navScrolled .navigation__link:hover {
  color: #000;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: "logo nav cta";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 6rem 1rem 6rem;
  border-bottom: 0.3px solid rgba(242, 242, 242, 0.3);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999;
}

.navigation .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  text-decoration: none;
  display: inline-block;
}

.navigation__checkbox {
  display: none;
}

.navigation__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  list-style-type: none;
  margin-left: 3rem;
}

.navigation__item:nth-of-type(5) a {
  padding-right: auto;
}

.navigation__link {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation__link:hover {
  color: #fff;
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}

.navigation__link span {
  display: none;
}

.navigation #nav-meetings {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cta;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #f0ab17;
  border-radius: 2rem;
  padding: 1rem;
  color: #f2f2f2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation #nav-meetings:hover {
  color: #fff;
}

@media (max-width: 60em) {
  .navigation {
    all: unset;
    position: absolute;
    top: 0;
    z-index: 999;
    min-height: 10vh;
    min-width: 100vw;
  }
  .navigation .logo {
    text-decoration: none;
    padding: 1.5rem 3rem;
  }
  .navigation__checkbox {
    display: none;
  }
  .navigation__button {
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    top: 1.5rem;
    right: 4rem;
  }
  .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    background-image: radial-gradient(#f6cd77, #f0ab17);
    z-index: 1000;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1), -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    top: 1.5rem;
    right: 4rem;
  }
  .navigation__nav {
    height: 100vh;
    opacity: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .navigation__list {
    all: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  .navigation__item {
    padding: 1rem;
  }
  .navigation__item:first-of-type {
    display: inline-block;
  }
  .navigation__item:first-of-type a {
    color: #fff !important;
  }
  .navigation__item:first-of-type:hover a {
    color: #f3bc47 !important;
  }
  .navigation__item:last-of-type a {
    margin-left: 0;
  }
  .navigation #nav-meetings {
    display: none;
  }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem;
  }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #f3bc47;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  .navigation__checkbox:checked ~ .navigation__background {
    -webkit-transform: scale(200);
            transform: scale(200);
  }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1;
  }
  .navigation__icon {
    position: relative;
    margin-top: 1.8rem;
    margin-left: 0.8rem;
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.3rem;
    height: 2px;
    background-color: #717171;
    display: inline-block;
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -0.8rem;
  }
  .navigation__icon::after {
    top: 0.8rem;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}

.landing {
  height: 100vh;
}

.landing .mySlides {
  display: none;
}

.landing img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.landing .slideshow-container {
  position: relative;
  margin: auto;
}

.landing .prev,
.landing .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.landing .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.landing .prev:hover,
.landing .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.landing .text {
  color: #f2f2f2;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.landing .text h4 {
  color: #bbb;
}

.landing .dots {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing .dot {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.landing .active {
  background-color: #717171;
}

.landing .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 80rem;
  background: white;
  color: #505050;
  font-family: "Montserrat", sans-serif;
  margin-top: 10rem;
}

.field_size {
  margin: 2rem;
  width: 50rem;
  height: 4rem;
  margin-bottom: 3rem;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: bold;
}

.submit_form {
  background: #f3bc47;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  padding: 2rem 3rem;
}

.submit_form:hover {
  background: #f0ab17;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.field_size {
  margin: 2rem;
  width: 50rem;
  height: 4rem;
  margin-bottom: 3rem;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: bold;
}

.footer {
  height: 50rem;
  background: #262626;
}
/*# sourceMappingURL=main.css.map */