@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "base";

@import "./styles/headings";
@import "./styles/logo";

.form {
  display: flex;
  justify-content: center;
  height: 50rem;
  background:white;
  color:$color-heading-primary ;
  font-family:$font-heading ;
  margin-top: 10rem;
}


.submit_form {
  margin-right: 90rem;
  background: $color-primary;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  border: 0;
  justify-content: center;
  border-radius: 3rem;
  padding: 2rem 3rem;
  
  
  &:hover {
    background: $color-primary-dark;
    
    transition-duration: 0.4s;
  }


}
.field_size{
 
  width:50rem;
  height:4rem;
}



