// for base level global styling

@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 1.4rem;
  color: $color-gray;
  font-weight: 400;
  line-height: 1.6;
}

*::selection {
  background-color: $color-primary !important;
  color: $color-white;
}
