.u-margin-b {
  margin: 6rem;
}
.u-margin-m {
  margin: 4rem;
}
.u-margin-sm {
  margin: 2rem;
}
.u-margin-top {
  margin-top: 2rem;
}
.u-margin-bottom {
  margin-bottom: 2rem;
}
.u-margin-left {
  margin-left: 2rem;
}
.u-margin-right {
  margin-right: 2rem;
}
