.card-background {
  transition: all 0.3s;
  background-color: $color-primary;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  &:hover .caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.bg-size-square {
  height: 24rem;
}

.bg-size-rec {
  height: 24rem;
}

.bg-size-team {
  height: 28;
}

.card-img {
  transition: all 0.3s;
  &:hover {
    filter: opacity(20%);
    transform: scale(1.1);
  }
}

.img-size-square {
  height: 24rem;
  width: 24rem;
}

.img-size-rec {
  // background-size: cover;
  min-height: 24rem;
  width: 38rem;
}

.img-size-team {
  height: 28rem;
  width: 28rem;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  color: $color-white;
  cursor: pointer;
  transition: all 0.3s;
  color: $color-gray-dark;
  background-color: $color-white;
  padding: 2rem;
  border-radius: 50%;
  font-size: 3.5rem;
}

.fa-times-thin:before {
  content: "\00d7";
  font-size: 4rem;
}

.fa-search-plus-thin:before {
  content: "\f00e";
}

/*

.team-card {

}

.blog-card {

}

.gallery-card {
    
}

*/

// modal

.show-modal {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;

  &__img {
    height: 80vh;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 99999;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 4rem;
  cursor: pointer;
}
