.form {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80rem;
  background: white;
  color: $color-heading-primary;
  font-family: $font-heading;
  margin-top: 10rem;
}

.field_size {
  margin: 2rem;
  width: 50rem;
  height: 4rem;
  margin-bottom: 3rem;
}

label {
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-family: $font-heading;
  color: $color-heading-primary;
  font-size: bold;
}
