.form {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80rem;
  background: white;
  color: $color-heading-primary;
  font-family: $font-heading;
  margin-top: 10rem;
}

.field_size {
  outline: none;
  margin: 2rem;
  width: 50vw;
  min-height: 4rem;
  margin-bottom: 3rem;

  @include respond(phone) {
    width: 80vw;
  }
}

.message-box {
  margin-bottom: 3rem;
  min-width: 50vw;
  min-height: 177px;
  outline: none;
  @include respond(phone) {
    width: 80vw;
  }
}

label {
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-family: $font-heading;
  color: $color-heading-primary;
  font-size: bold;
}

.submit_form {
  background: $color-primary;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  border: 0;
  justify-content: center;
  border-radius: 3rem;
  padding: 2rem 3rem;

  &:hover {
    background: $color-primary-dark;

    transition-duration: 0.4s;
  }
}
