.navigation {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo nav cta";
  align-items: center;
  padding: 3rem 6rem 1rem 6rem;
  transition: padding 200ms linear;
  border-bottom: 0.3px solid rgba($color-gray-light, 0.3);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999;

  .logo {
    grid-area: logo;
    text-decoration: none;
    display: inline-block;
  }

  &__checkbox {
    display: none;
  }

  &__nav {
    grid-area: nav;
    justify-self: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    list-style-type: none;
    margin-left: 3rem;

    &:nth-of-type(5) {
      a {
        padding-right: auto;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $color-gray-light;
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s;

    &:hover {
      color: $color-white;
      transform: scale(1.001);
    }

    span {
      display: none;
    }
  }
  #nav-meetings {
    grid-area: cta;
    justify-self: center;
    background-image: linear-gradient(
      to top,
      $color-primary-dark,
      $color-primary-light
    );
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: $color-gray-light;
    transition: all 0.3s;
    text-align: center;

    &:hover {
      color: $color-white;
    }
  }
}

@include respond(tab-port-min) {
  .navScrolled {
    background-color: rgb(255, 255, 255) !important;
    transition: background-color 200ms linear;
    padding: 2rem 6rem 0 6rem !important;
    transition: padding 200ms linear;
    box-shadow: 0 1px 1px $color-gray-light;

    .logo {
      color: $color-black;
    }

    .navigation__item {
      &:first-of-type {
        a {
          color: $color-primary;
        }
      }
    }
    .navigation__link {
      color: $color-gray-dark;
      transition: all 0.3s;

      &:hover {
        color: $color-black;
      }
    }
  }
}

@include respond(tab-port) {
  .navigation {
    all: unset;
    position: absolute;
    top: 0;
    z-index: 999;
    min-height: 10vh;
    min-width: 100vw;

    .logo {
      text-decoration: none;
      padding: 1.5rem 3rem;
    }

    &__checkbox {
      display: none;
    }

    &__button {
      background-color: $color-white;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      position: fixed;

      z-index: 9999;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
      text-align: center;
      cursor: pointer;

      top: 1.5rem;
      right: 4rem;
    }

    &__background {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      position: fixed;
      background-image: radial-gradient(
        $color-primary-light,
        $color-primary-dark
      );
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
      //transform: scale(80);

      top: 1.5rem;
      right: 4rem;
    }

    &__nav {
      height: 100vh;
      opacity: 0;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
    &__list {
      all: unset;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
    }

    &__item {
      padding: 1rem;

      &:first-of-type {
        display: inline-block;
        a {
          color: $color-white !important;
        }
        &:hover {
          a {
            color: $color-primary !important;
          }
        }
      }
      &:last-of-type {
        a {
          margin-left: 0;
        }
      }
    }

    #nav-meetings {
      display: none;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-white 50%
        );
        background-size: 250%;
        transition: all 0.4s;

        span {
          display: inline-block;
          margin-right: 1.5rem;
        }
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-primary;
        transform: translateX(1rem);
      }
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
      transform: scale(100);
    }
    &__checkbox:checked ~ &__nav {
      width: 100%;
      opacity: 1;
    }

    //icon
    &__icon {
      position: relative;
      margin-top: 1.8rem;
      margin-left: 0.8rem;

      &,
      &::before,
      &::after {
        width: 2.3rem;
        height: 2px;
        background-color: $color-gray-dark;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
