.about {
  padding: 0 !important;
  display: flex;
  background-color: #f9f9f9;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);

  &__text {
    text-align: left;
    padding: 4rem 2rem;
    width: 50%;
    padding: 10rem 10rem;
    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      text-align: center;
    }
  }

  ul {
    margin: 2rem 0;
    list-style-type: none;
    transform: translateX(1.5rem);
    @include respond(phone) {
      display: inline-block;
      margin: 0 auto;
    }
  }

  li {
    display: flex;
    align-items: baseline;
    text-align: justify;
    text-transform: capitalize;
    font-size: 1.2rem;

    i {
      margin-right: 10px;
      color: $color-primary;
    }
  }

  p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: capitalize;
  }

  &__img {
    @include respond(tab-port) {
      display: none;
    }
    width: 50%;
  }

  &__photo {
    background-image: url(../../resources/images/about.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}
