.about {
  display: flex;
  @include respond(tab-port) {
    flex-wrap: wrap;
  }
  background-color: #f9f9f9;

  &__text {
    width: fit-content;
    margin-left: 80px;
    margin-right: 40px;
  }
  li {
    margin-bottom: 10px;
    list-style:square;
    text-align: justify;
    text-transform:capitalize;
  }
    
  p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: capitalize;
  }
  &__image {
    text-align: center;
    width: 100%;
  }
  &__photo {
    width: 700px;

    @include respond(phone) {
      width: 95vw;
    }
  }
}
