.blog {
  background-color: $color-gray-background;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    justify-items: center;
    gap: 2rem;
  }
}
