.services {
  display: block !important;
  background-color: white !important;
  text-align: center;

  ul {
    cursor: pointer;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    @include respond(tab-port-min) {
      padding: 0 14rem;
    }
  }
  li {
    list-style: none;
    padding: 3rem;
    transition: all 0.5s ease-in;
    h1 {
      color: black;
      transition: all 0.5s ease-in;
    }
    &:hover {
      box-shadow: 2px 2px 2px 2px gainsboro;
      h1 {
        color: gold;
      }
    }
  }
}
