.services {
  &__card-heading {
    position: relative;
    margin-bottom: 2rem;
  }

  &__card-heading-icon {
    i {
      font-size: 7rem;
      color: $color-gray-light;
    }
  }

  &__card-heading-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h2 {
      background-color: $color-white;
      line-height: 100%;
      color: $color-gray-dark;
      transition: all 0.5s ease-in;
      font-size: 1.6rem;
    }
  }

  ul {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    @include respond(tab-port-min) {
      padding: 0 14rem;
    }
  }
  li {
    list-style: none;
    padding: 5rem 3rem;
    transition: all 0.5s ease-in;

    p {
      text-transform: capitalize;
    }
    &:hover {
      box-shadow: 2px 2px 2px 2px gainsboro;
      h2 {
        color: $color-primary;
      }
    }
  }
}
