.team {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    gap: 2rem;
  }

  &__card {
    width: 28rem;

    h4 {
      color: $color-gray-dark;
      font-weight: bold;
      font-size: 1.8rem;
      padding: 5px;
    }

    h3 {
      letter-spacing: 2px;
      padding-bottom: 1rem;
      font-weight: normal;
    }
  }
}
