.work {
  background: #eee;
  padding-top: 10rem;
  min-height: 90vh;
  color: $color-gray-dark;
  position: relative;
}

.swiper-container {
  width: 90vw;
  height: 70vh;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 28rem !important;
  height: 27.9rem !important;

  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  width: 28rem !important;
  height: 28rem !important;
}
