.work {
  background: #eee;
  padding: 100px 0;
  min-height: 100vh;
  color: $color-gray-dark;
  position: relative;
}

.swiper-container {
  width: 90vw;
  height: 90vh;
  padding-top: 50px;
  padding-bottom: 200px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 28rem !important;
  height: 27.9rem !important;

  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  width: 28rem !important;
  height: 28rem !important;
}
