// COLOR VARIABLES
$color-primary: #eda407;

$color-secondary: #505050;

$color-white: #fff;

$color-gray: #e0e0e0;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200 / 16
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
