// COLOR VARIABLES
$color-primary: #f3bc47;

$color-heading-primary: #505050;
$color-heading-secondary: #c6c6c6;

$color-white: #fff;

$color-gray: #8d8d8d;

// FONT VARIABLES
$font-primary: "Raleway", sans-serif;
$font-heading: "Montserrat", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200 / 16
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
