// COLOR VARIABLES
//#F8A339 dark
//#F8C239 light

$color-primary: #f3bc47;
$color-primary-dark: #f8a339;
$color-primary-light: #f8c239;

$color-heading-primary: #505050;
$color-heading-secondary: #c6c6c6;

$color-white: #fff;
$color-black: #000;

$color-gray: #bbb;
$color-gray-light: #f2f2f2;
$color-gray-dark: #717171;

// FONT VARIABLES
$font-primary: "Raleway", sans-serif;
$font-heading: "Montserrat", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200 / 16
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
